name: Build and Package OPKG

on:
  push:
    branches-ignore:
      - 'refs/tags/*'
    paths-ignore:
      - '**.md'
      - '.github/**'
      - '!.github/workflows/build.yml'
  release:
    types: [published]

jobs:
  build:
    name: Build for "${{ matrix.target }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - platform: entware
            target: mipsel-3.4
            goos: linux
            goarch: mipsle
            gomips: softfloat
          - platform: entware
            target: mips-3.4
            goos: linux
            goarch: mips
            gomips: softfloat
          - platform: entware
            target: aarch64-3.10
            goos: linux
            goarch: arm64
          - platform: entware
            target: armv7-3.2
            goos: linux
            goarch: arm
            goarm: 7
          - platform: entware
            target: armv7-2.6
            goos: linux
            goarch: arm
            goarm: 7
          - platform: entware
            target: armv5-3.2
            goos: linux
            goarch: arm
            goarm: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0


      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: '2.2.2'

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y fakeroot

      - name: Build and Package
        run: |
          PLATFORM=${{ matrix.platform }} TARGET=${{ matrix.target }} GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} GOMIPS=${{ matrix.gomips }} GOARM=${{ matrix.goarm }} make

      - name: Fetching file list for artifact
        if: ${{ github.event_name != 'release' }}
        id: create_file_list
        run: |
          echo 'file_list<<EOF' >> $GITHUB_OUTPUT
          find . -name "magitrickle_*_${{ matrix.target }}.ipk" -print >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

      - name: Upload artifact
        if: ${{ github.event_name != 'release' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target }}
          path: ${{ steps.create_file_list.outputs.file_list }}
          if-no-files-found: error
          compression-level: 0

      - name: Upload asset to release
        if: ${{ github.event_name == 'release' }}
        uses: softprops/action-gh-release@v2
        with:
          files: |-
            ./.build/magitrickle_*_${{ matrix.target }}.ipk
          token: ${{ secrets.RELEASE_TOKEN }}
